datastore
tasks
www/bower_components/*
node_modules
customization
.*.swp
*.db
messages.log
.DS_Store
www/scratch
data
npm-debug.log
pins/
blob/
block/
blobstage/
block/
logs/
privileged.conf
*yolo.sh
